.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
    background: #4f4d4d;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.centered form {
    padding: 30px;
    background: white;
    color: #5d5b5b;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(138, 138, 138, 0.75);

    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}

.centered form .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.centered form .control-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.centered form .control-center #file {
    margin-left: 0px;
    background-color: #106BA0;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.centered form input {
    outline: none;
    border: 1px solid #cecdce;
    line-height: 25px;
    padding: 5px;  
    font-size: 14px;
    color: #5d5b5b;  
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#inputLabel {
    background-color: #c5595b;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#submit {
    background: #5eace4;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

body {
    background: #eb6a6c;
}